
/* ======================================================
     FORMS
====================================================== */

.input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: #4f46e5;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}